@import 'variables';
// @import 'fonts';

@font-face {
  font-family: 'petrobras-light--normal';
  src: url('/fonts/petrobrassans_lt-webfont.eot');
  src: url('/fonts/petrobrassans_lt-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/petrobrassans_lt-webfont.woff') format('woff'),
    url('/fonts/petrobrassans_lt-webfont.ttf') format('truetype'),
    url('/fonts/petrobrassans_lt-webfont.svg#petrobras_sanslight')
      format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'petrobras-light--italic';
  src: url('/fonts/petrobrassans_ltit-webfont.eot');
  src: url('/fonts/petrobrassans_ltit-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/petrobrassans_ltit-webfont.woff') format('woff'),
    url('/fonts/petrobrassans_ltit-webfont.ttf') format('truetype'),
    url('/fonts/petrobrassans_ltit-webfont.svg#petrobras_sanslight_italic')
      format('svg');
  font-weight: 300;
  font-style: italic;
}
/******** PETROBRAS--NORMAL ******* */
@font-face {
  font-family: 'petrobras--normal';
  src: url('/fonts/petrobrassans_rg-webfont.eot');
  src: url('/fonts/petrobrassans_rg-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/petrobrassans_rg-webfont.woff') format('woff'),
    url('/fonts/petrobrassans_rg-webfont.ttf') format('truetype'),
    url('/fonts/petrobrassans_rg-webfont.svg#petrobras_sansregular')
      format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'petrobras--italic';
  src: url('/fonts/petrobrassans_it-webfont.eot');
  src: url('/fonts/petrobrassans_it-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/petrobrassans_it-webfont.woff') format('woff'),
    url('/fonts/petrobrassans_it-webfont.ttf') format('truetype'),
    url('/fonts/petrobrassans_it-webfont.svg#petrobras_sansitalic')
      format('svg');
  font-weight: 500;
  font-style: italic;
}
/******** PETROBRAS--BOLD ******* */
@font-face {
  font-family: 'petrobras-bold--normal';
  src: url('/fonts/petrobrassans_bd-webfont.eot');
  src: url('/fonts/petrobrassans_bd-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/petrobrassans_bd-webfont.woff') format('woff'),
    url('/fonts/petrobrassans_bd-webfont.ttf') format('truetype'),
    url('/fonts/petrobrassans_bd-webfont.svg#petrobras_sansbold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'petrobras-bold--italic';
  src: url('/fonts/petrobrassans_bdit-webfont.eot');
  src: url('/fonts/petrobrassans_bdit-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/petrobrassans_bdit-webfont.woff') format('woff'),
    url('/fonts/petrobrassans_bdit-webfont.ttf') format('truetype'),
    url('/fonts/petrobrassans_bdit-webfont.svg#petrobras_sansbold_italic')
      format('svg');
  font-weight: 600;
  font-style: italic;
}
/******** PETROBRAS--XBOLD ******* */
@font-face {
  font-family: 'petrobras-xbold--normal';
  src: url('/fonts/petrobrassans_xbd-webfont.eot');
  src: url('/fonts/petrobrassans_xbd-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/petrobrassans_xbd-webfont.woff') format('woff'),
    url('/fonts/petrobrassans_xbd-webfont.ttf') format('truetype'),
    url('/fonts/petrobrassans_xbd-webfont.svg#petrobras_sansxbold')
      format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'petrobras-xbold--italic';
  src: url('/fonts/petrobrassans_xbdit-webfont.eot');
  src: url('/fonts/petrobrassans_xbdit-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/petrobrassans_xbdit-webfont.woff') format('woff'),
    url('/fonts/petrobrassans_xbdit-webfont.ttf') format('truetype'),
    url('/fonts/petrobrassans_xbdit-webfont.svg#petrobras_sansxbold_italic')
      format('svg');
  font-weight: 700;
  font-style: italic;
}

$petrobras-light: 'petrobras-light--normal', arial, sans-serif;
$petrobras-light-i: 'petrobras-light--italic', arial, sans-serif;
$petrobras--normal: 'petrobras--normal', arial, sans-serif;
$petrobras--italic: 'petrobras--italic', arial, sans-serif;
$petrobras-bold--normal: 'petrobras-bold--normal', arial, sans-serif;
$petrobras-bold--italic: 'petrobras-bold--italic', arial, sans-serif;
$petrobras-xbold--normal: 'petrobras-xbold--normal', arial, sans-serif;
$petrobras-xbold--italic: 'petrobras-xbold--italic', arial, sans-serif;
// Colors

.bg-red {
  background-color: $red;
}
.bg-grey {
  background-color: $grey;
}
.bg-dark-red {
  background-color: $dark-red;
}
.bg-purple {
  background-color: $purple;
}
.bg-dark-purple {
  background-color: $dark-purple;
}
.bg-light-purple {
  background-color: $light-purple;
}
.bg-green {
  background-color: $green;
}

// Reset
a {
  text-decoration: none !important;
}

ul {
  padding: 0;
}

// Default
@keyframes alarm-active {
  from {
    background-color: $red;
  }

  to {
    background-color: transparentize($red, 0.1);
  }
}

body {
  background-color: #F5F5F5;
  font-family: $petrobras--normal
}

.alarmActive {
  animation-duration: 0.3s;
  animation-name: alarm-active;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

// .wrapper-content {
//   padding-top: 5%;
// }

.card {
  border: none;
  box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06), 0px 8px 8px rgba(50, 50, 71, 0.08);

  &-header,
  &-kks,
  &-content {
    padding: $padding;
  }

  &-kks {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: #02592E;
    background-color: $white;

    h2 {
      font-size: 28px;
      font-weight: bold;
    }
    h3 {
      font-size: 22px;
      text-align: center;
    }
  }

  &-header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: #666666;
    background-color: $white;

    h2,
    h6 {
      font-weight: 700;
    }
  }

  &-white {
    padding: 17px;
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    h1,
    p {
      color: #02592E;
    }

    h1 {
      font-weight: 300;
    }

    p {
      font-size: 12px;
    }

    h1 {
      font-size: 40px;
    }

    button {
      font-weight: bold;
      font-size: 12px;
      color: #B5B5B5;
    }

    span {
      color: #CCCCCC;
      font-weight: bold;
      font-size: 12px;
    }
  }

  &-content {
    // min-height: 320px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: white;
  }
}

.type-background {
  background: #008542;
  border-radius: 20px;
  color: $white;
  font-weight: bold;
}

.btn-green {
  background-color: #008542;
  border-radius: 5px;
  color: #FFFFFF;
}

.btn-clean {
  background-color: $dark-red;
  border-radius: 5px;
  color: #FFFFFF;
  width: 156px;
  height: 52px;
}

.btn-primary {
  background-color: white;
  color: $light-purple;
  border: none;
  transition: $transition;

  &:hover {
    border: none !important;
    color: $light-purple;
    outline: none !important;
    background-color: white !important;
  }

  &:active {
    border: none !important;
    color: $light-purple;
    outline: none !important;
    background-color: white !important;
  }
}

