@import 'variables';

// Colors

.bg-red {
  background-color: $red;
}
.bg-dark-red {
  background-color: $dark-red;
}
.bg-purple {
  background-color: $purple;
}
.bg-dark-purple {
  background-color: $dark-purple;
}
.bg-light-purple {
  background-color: $light-purple;
}
.bg-green {
  background-color: $green;
}

// Reset
a {
  text-decoration: none !important;
}

ul {
  padding: 0;
}

// Default
@keyframes alarm-active {
  from {
    background-color: $red;
  }

  to {
    background-color: transparentize($red, 0.1);
  }
}

body {
  background-color: #F5F5F5;
}

.alarmActive {
  animation-duration: 0.3s;
  animation-name: alarm-active;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

// .wrapper-content {
//   padding-top: 5%;
// }

.card {
  border: none;

  &-header,
  &-content {
    padding: $padding;
  }

  &-header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: white;

    h2,
    h6 {
      font-weight: 700;
    }
  }

  &-white {
    padding: 17px;
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    h1,
    p {
      color: #02592E;
    }

    h1 {
      font-weight: 300;
    }

    p {
      font-size: 12px;
    }

    h1 {
      font-size: 40px;
    }

    button {
      font-weight: bold;
      font-size: 12px;
      color: #B5B5B5;
    }

    span {
      color: #CCCCCC;
      font-weight: bold;
      font-size: 12px;
    }
  }

  &-content {
    min-height: 320px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.btn-green {
  background-color: #008542;
  border-radius: 5px;
  color: #FFFFFF;
}

.btn-primary {
  background-color: white;
  color: $purple;
  transition: $transition;

  &:hover {
    box-shadow: 0px 6px 20px rgba(31, 32, 65, 0.5);
  }
}
