@import 'variables';
// @import 'fonts';

@font-face {
  font-family: PetrobrasSansBold;
  src: url(~@/assets/fonts/PetrobrasSans_Bd.ttf) format("truetype");
}
@font-face {
  font-family: PetrobrasSans BoldItalic;
  src: url(~@/assets/fonts/PetrobrasSans_BdIt.ttf) format("truetype");
}
@font-face {
  font-family: PetrobrasSansItalic;
  src: url(~@/assets/fonts/PetrobrasSans_It.ttf) format("truetype");
}
@font-face {
  font-family: PetrobrasSansLight;
  src: url(~@/assets/fonts/PetrobrasSans_Lt.ttf) format("truetype");
}
@font-face {
  font-family: PetrobrasSans LightItalic;
  src: url(~@/assets/fonts/PetrobrasSans_LtIt.ttf) format("truetype");
}
@font-face {
  font-family: PetrobrasSans;
  src: url(~@/assets/fonts/PetrobrasSans_Rg.ttf) format("truetype");
}
@font-face {
  font-family: PetrobrasSans Xbold;
  src: url(~@/assets/fonts/PetrobrasSans_XBd.ttf) format("truetype");
}
@font-face {
  font-family: PetrobrasSans XboldItalic;
  src: url(~@/assets/fonts/PetrobrasSans_XBdIt.ttf) format("truetype");
}

// Colors

.bg-red {
  background-color: $red;
}
.bg-grey {
  background-color: $grey;
}
.bg-dark-red {
  background-color: $dark-red;
}
.bg-purple {
  background-color: $purple;
}
.bg-dark-purple {
  background-color: $dark-purple;
}
.bg-light-purple {
  background-color: $light-purple;
}
.bg-green {
  background-color: $green;
}

// Reset
a {
  text-decoration: none !important;
}

ul {
  padding: 0;
}

// Default
@keyframes alarm-active {
  from {
    background-color: $red;
  }

  to {
    background-color: transparentize($red, 0.1);
  }
}

body {
  background-color: #F5F5F5;
  font-family: PetrobrasSans;
}

.alarmActive {
  animation-duration: 0.3s;
  animation-name: alarm-active;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

// .wrapper-content {
//   padding-top: 5%;
// }

.card {
  border: none;
  box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06), 0px 8px 8px rgba(50, 50, 71, 0.08);

  &-header,
  &-kks,
  &-content {
    padding: $padding;
  }

  &-kks {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: #02592E;
    background-color: $white;

    h2 {
      font-size: 28px;
      font-weight: bold;
    }
    h3 {
      font-size: 22px;
      text-align: center;
    }
  }

  &-header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: #666666;
    background-color: $white;

    h2,
    h6 {
      font-weight: 700;
    }
  }

  &-white {
    padding: 17px;
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    h1,
    p {
      color: #02592E;
    }

    h1 {
      font-weight: 300;
    }

    p {
      font-size: 12px;
    }

    h1 {
      font-size: 40px;
    }

    button {
      font-weight: bold;
      font-size: 12px;
      color: #B5B5B5;
    }

    span {
      color: #CCCCCC;
      font-weight: bold;
      font-size: 12px;
    }
  }

  &-content {
    // min-height: 320px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: white;
  }
}

.type-background {
  background: #008542;
  border-radius: 20px;
  color: $white;
  font-weight: bold;
}

.btn-green {
  background-color: #008542;
  border-radius: 5px;
  color: #FFFFFF;
}

.btn-clean {
  background-color: $dark-red;
  border-radius: 5px;
  color: #FFFFFF;
  width: 156px;
  height: 52px;
}

.btn-primary {
  background-color: $light-purple;
  color: white;
  border: none;
  transition: $transition;
  height: 40px;

  &:active {
    border: none !important;
    color: $light-purple;
    outline: none !important;
    background-color: white !important;
  }
}

