<header><img src="../../assets/icons/alarm.svg"> Smart Alarms</header>

<section>

    <div class="box-info">
        <h1 class="border-box-top"><span>PLS:</span> TG 21</h1>
        <div>
            <p>Causa básica:</p>
            <h2>Nível baixo do tambor de HP</h2>
            <p>KKS:</p>
            <h3>21HAD50FL901XJ60<img src="../../assets/icons/grafico.svg"></h3>
            <hr>
            <div class="bottom-row">
                <button [routerLink]="['/detalhes']">Detalhes</button>
                <div class="d-flex">
                    <p>Contagem<br>regressiva<br>Flame Off</p>
                    <h1>3:31</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="box-status">
        <h4 class="border-box-top">Status do equipamento</h4>
        <div class="status-content">
            <div class="status-kks">
                <h3 class="ativo">28LAC50AP001</h3>
                <h3 class="inativo">21HAC51AA151 <span>0%</span></h3>
                <h3 class="ativo">28LAC50AP001</h3>
            </div>
            <ul class="legenda">
                <li class="ligado">Ligado</li>
                <li class="desligado">DesLigado</li>
            </ul>
        </div>
    </div>

    <div class="box-recomendacoes">
        <h4 class="border-box-top">Recomendações</h4>
        <div class="recomendacoes-content">
            <ul>
                <li>Verificar o gráfico</li>
                <li>Acionar equipes de instrumentação e automação</li>
                <li>Verificar sensor / transmissor no campo</li>
            </ul>
        </div>
    </div>

</section>