header {
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
    img {
        width: 1.3em;
        margin: 0 5px 16px 0;
    }
}

section {
    margin: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    font-family: 'Lato', sans-serif;
}

.box-info {
    flex-grow: 1;
    margin: 0 20px;
    background-color: #353D46;
    width: 25%;
    h1 {
        color: #fff;
        padding: 15px 20px;
        margin: 0;
        font-weight: 600;
        font-size: 2.5em;
        span {
            font-weight: 400
        }
    }
    div {
        background: #47525E;
        padding: 20px;
    }
    p {
        color: #B9B9B9;
        margin: 0 0 5px 0;
        line-height: 1.1em;
    }
    h2 {
        margin: 0 0 25px 0;
        color: #FCD487;
        font-size: 1.6em;
        font-weight: 700;
    }
    h3 {
        margin: 0 0 5px 0px;
        color: #FFF;
        font-size: 1.2em;
        font-weight: 500;
        img {
            margin: 0 0 5px 20px
        }
    }
    .bottom-row {
        margin: 25px 0 10px 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        h1 {
            font-size: 4em;
            margin: 0;
            padding: 0;
        }
        p {
            text-align: right;
            margin-right: 10px
        }
        button {
            border: 0px;
            padding: 5px 30px !important;
            margin: -5px 0 0 0;
            border-radius: 5px;
            color: #4E5964;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            background-color: #fff;
            margin-right: 10px;
            height: 60px;
        }
        .d-flex {
            display: flex;
            padding: 0 !important;
            h1 {
                margin: -13px 0 0 5px!important;
            }
        }
    }
}

.box-status {
    flex-grow: 3;
    background-color: #47525E;
    width: 37.5%;
    h4 {
        background-color: #353D46;
        color: #fff;
        padding: 20px;
        margin: 0;
        font-size: 1em
    }
    .status-content {
        background: #47525E;
        padding: 20px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: column;
    }
    .status-kks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h3 {
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            width: 48%;
            margin: 5px;
            font-size: 1.3em;
            font-weight: 600;
            span {
                float: right;
                font-weight: 800;
            }
        }
    }
    .ativo {
        background-color: #509037;
    }
    .inativo {
        background-color: #617283;
    }
    .legenda {
        display: inherit;
        text-transform: uppercase;
        font-size: 0.75em;
        color: #fff;
        padding: 0 0 0 25px;
        list-style: none;
        li {
            margin-right: 30px
        }
        .ligado::before {
            content: "\2022";
            color: red;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -0.5em;
            font-size: 1.5em;
        }
        .desligado::before {
            content: "\2022";
            color: green;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -0.5em;
            font-size: 1.5em;
        }
        span {
            margin-right: 5px;
            font-size: 2em
        }
    }
}

.box-recomendacoes {
    flex-grow: 3;
    margin: 0 20px;
    background-color: #F95F62;
    width: 37.5%;
    .recomendacoes-content {
        padding: 20px;
    }
    h4 {
        background-color: #A74042;
        color: #fff;
        padding: 20px;
        margin: 0;
        font-size: 1em
    }
    ul li {
        color: #fff;
        font-size: 1.5em;
        padding: 5px;
        font-weight: 600
    }
}

.box-info,
.box-status,
.box-recomendacoes {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    h4 {
        text-transform: uppercase;
        font-weight: 500;
    }
    & h1,
    & h4 {
        border-radius: 7px 7px 0 0;
        -webkit-border-radius: 7px 7px 0 0;
        -moz-border-radius: 7px 7px 0 0;
        -ms-border-radius: 7px 7px 0 0;
        -o-border-radius: 7px 7px 0 0;
    }
    & div {
        border-radius: 0 0 7px 7px;
        -webkit-border-radius: 0 0 7px 7px;
        -moz-border-radius: 0 0 7px 7px;
        -ms-border-radius: 0 0 7px 7px;
        -o-border-radius: 0 0 7px 7px;
    }
}