header {
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
    img {
        width: 1.3em;
        margin: 0 5px 16px 0;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    div {
        width: 80px;
        height: 200px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5.5em;
        flex: 1 1 25%;
        margin: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-family: 'Lato', sans-serif;
    }
    .inativo {
        background-color: #5A6978;
    }
    .ativo {
        background-color: #F95F62;
        a {
            text-decoration: none;
            color: #fff
        }
    }
}