<div class="container-fluid">
    <div class="row">
        <nav class="col-md-1 p-4 d-none d-md-block bg-light-grey sidebar h-100vh">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="hamburguer"><img src="../../assets/icons/menu.svg"></li>
                    <li class="text-center mb-3 tittle-sidenav">Eventos</li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <h1>21</h1>
                            <p class="m-0">3:27:55</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <h1>22</h1>
                            <p class="m-0">3:27:55</p>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main class="col-md-10 ml-sm-auto col-lg-11 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="tittle-main">PLS: <span>TG21</span></h1>
                <div class="btn-toolbar mb-2 mb-md-0 contador">
                    <div class="btn-group mr-4 legenda">
                        Contagem<br>Regressiva<br>Flame Off
                    </div>
                    <div class="btn-group mr-2 numero">
                        3:33
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>