<div class="container-fluid">
    <div class="row">
        <nav class="col-md-1 p-4 d-none d-md-block bg-light-grey sidebar h-100vh">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li [routerLink]="['/painel-central']" class="hamburguer"><img src="../../assets/icons/menu.svg"></li>
                    <li class="text-center mb-3 tittle-sidenav">Eventos</li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <h1>21</h1>
                            <p class="m-0">3:27:55</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <h1>22</h1>
                            <p class="m-0">3:27:55</p>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main class="col-md-10 ml-sm-auto col-lg-11 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="tittle-main">PLS: <span>TG21</span></h1>
                <div class="btn-toolbar mb-2 mb-md-0 contador">
                    <div class="btn-group mr-4 legenda">
                        Contagem<br>Regressiva<br>Flame Off
                    </div>
                    <div class="btn-group mr-2 numero">
                        3:33
                    </div>
                </div>
            </div>
            <div class="col-lg-4 px-4 causas">
                <h1 class="causa"><span>Causa: </span>Nível baixo no tambor de HP</h1>
                <h2 class="kks"><span>KKS:</span> 21HAD50FL901XJ60 <img src="../../assets/icons/grafico.svg"></h2>
                <h3 class="canais row">
                    <div class="col-lg-3">
                        <h5>CANAIS:</h5>
                    </div>
                    <div class="col-lg-9">
                        <div class="canais-item">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                            <span>21HAD50FL901XJ60</span>
                            <img src="../../assets/icons/grafico_dark.svg">
                        </div>
                        <div class="canais-item">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                            <span>21HAD50FL901XJ60</span>
                            <img src="../../assets/icons/grafico_dark.svg">
                        </div>
                        <div class="canais-item">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                            <span>21HAD50FL901XJ60</span>
                            <img src="../../assets/icons/grafico_dark.svg">
                        </div>
                    </div>
                </h3>
                <h2 class="status-tittle">Status do equipamento</h2>
                <div class="status">
                    <div class="status-item d-flex justify-content-center align-items-center flex-column">
                        <h1>828LAC5P001</h1>
                        <div class="status-detalhes d-flex justify-content-center flex-column align-items-center">
                            <p class="m-0">Causa</p>
                            <p class="status-item-causa m-0">Temperatura alta do enrolamento</p>
                            <hr>
                            <p>28LAC50CT021 <img src="../../assets/icons/grafico.svg"></p>
                        </div>
                    </div>
                    <div class="status-item d-flex justify-content-center align-items-center flex-column">
                        <h1>828LAC5P001</h1>
                        <div class="status-detalhes d-flex justify-content-center flex-column align-items-center">
                            <p class="m-0">Causa</p>
                            <p class="status-item-causa m-0">Temperatura alta do enrolamento</p>
                            <hr>
                            <p>28LAC50CT021 <img src="../../assets/icons/grafico.svg"></p>
                        </div>
                    </div>
                    <div class="status-item-single d-flex justify-content-between align-items-center ativo">
                        <h1>828LAC5P001</h1>
                        <span>20%</span>
                        <img src="../../assets/icons/grafico.svg">
                    </div>
                    <div class="status-item-single d-flex justify-content-between align-items-center inativo">
                        <h1>828LAC5P001</h1>
                        <img src="../../assets/icons/grafico.svg">
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>